@import '../../global.css';



#menubar-inner{
    display: flex;
    flex-direction: column;
    height: 69.8125rem;
    width: 4.875rem;
}

#bar{
    width: 4.875rem;
    height: 64.9375rem;
    background-color: var(--bar-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

#menubar-title{
    transform: rotate(-90deg) translateX(-24.875rem);
    color: var(--text-color);
    padding-top: 1.875rem;
    padding-bottom: 1.9375rem;
    font-family: Mandioca,sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.05rem;
    letter-spacing: 15%;
    white-space: nowrap;
}

#menubar-icon {
    max-width: 100%;
    height: auto;
  }